@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap");
@viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

:root {
  --white: #f9f9f7;
  --white-semi-opaque: rgba(249, 249, 247, 0.75);
  --white-opaque: rgba(249, 249, 247, 0.5);
  --black: #030305;
  --dark-gray: #313132;
  --cool-gray: #67686a;
  --gray-taupe: #80787c;
  --taupe: #9a817f;
  --taupe-semi-opaque: rgba(154, 129, 127, 0.75);
  --taupe-opaque: rgba(154, 129, 127, 0.5);
  --light-taupe: #ad9d9b;
  --light-blue: #cfdce9;
  --light-blue-semi-opaque: rgba(207, 220, 233, 0.75);
  --light-blue-opaque: rgba(207, 220, 233, 0.5);
  --gold: #f6cb94;
  --gold-semi-opaque: rgb(246, 203, 148, 0.75);
  --gold-opaque: rgb(246, 203, 148, 0.5);
  --coral: #f2ab87;
  --coral-semi-opaque: rgba(242, 171, 135, 0.75);
  --coral-opaque: rgba(242, 171, 135, 0.5);
  --dark-coral: #de9a88;
  --dark-coral-semi-opaque: rgba(222, 154, 136, 0.75);
  --dark-coral-opaque: rgba(222, 154, 136, 0.5);
  --dark-beige: #b68e81;
  --dark-beige-semi-opaque: rgba(182, 142, 129, 0.75);
  --dark-beige-opaque: rgba(182, 142, 129, 0.5);
  --beige: #d4b4a4;
  --light-beige: #efe0cb;
  --light-beige-semi-opaque: rgba(239, 224, 203, 0.75);
  --light-beige-opaque: rgba(239, 224, 203, 0.5);
}

body {
  background-image: url("static/la-skyline-shrunk.jpg");
  background-size: cover;
  background-color: #cfdce9;

  font-family: "Anonymous Pro";
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-weight: 300;
  line-height: 1.25em;
  color: var(--dark-gray);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hidden {
  visibility: hidden;
}

.top-space {
  margin-top: 2rem;
}

.side-space {
  padding-left: 1rem;
  padding-right: 1rem;
}

.removed {
  display: none !important;
}

.fade-out {
  animation: fadeout 300ms;
  transition: all 300ms ease-in;
}

.fade-in {
  animation: fadein 800ms;
  transition: all 800ms ease-in;
}

.pushed-up {
  padding-bottom: 200px;
  transition: all 300ms ease-in;
}

.pushed-down {
  padding-top: 200px;
  transition: all 300ms ease-in;
}

.container {
  width: 100vw;
  height: calc(100vh - 2rem);
  overflow: hidden;
}

.container--inner {
  height: 100%;
}

/* Mobile first shtuff */
.quicklinks {
  padding-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.quicklinks__link {
  padding: 0px 0.25rem;
}

.quicklinks__link:hover {
  filter: sepia(100%) hue-rotate(-40deg);
  cursor: pointer;
  transition: 300ms ease;
}

.quicklinks__link img {
  width: 1.5rem;
  height: 1.5rem;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__lines {
  width: inherit;
}

.title__line {
  padding: 0px 1rem;
  font-size: 0.85rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.title__line--typed {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.cursor::after {
  height: 13px;
  width: 6px;
  content: "";
  display: inline-flex;
  margin-left: 3px;
  background-color: var(--dark-gray);
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__link {
  font-size: 12px;
}

.navigation__link:hover {
  cursor: pointer;
  color: var(--coral);

  transition: 300ms ease;
  /* transition: all 0.2s ease-in-out; */
}

.navigation__link--activated {
  color: var(--dark-coral);
  transition: all 300ms ease;
}

.navigation__divider {
  border-right: 1px solid var(--gray-taupe);
}

.about {
  height: 100%;
}

.about__blurbs {
  font-size: 10px;
  text-align: justify;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills__skill {
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
    var(--gold-opaque),
    var(--dark-coral-opaque)
  );
  border-radius: 5px;
}

.skills__skill--small {
  height: 2.5rem;
  width: 2.5rem;
}

.skills__skill--small img {
  width: 1.5rem;
}

.skills__skill--small p {
  font-size: 7px;
  color: var(--white);
  margin: 0px;
  padding: 0px;
}

.skills__skill--large {
  height: 5rem;
  width: 5rem;
}

.skills__skill--large img {
  padding-top: 1rem;
  width: 2rem;
}

.skills__skill--large p {
  font-size: 9px;
  color: var(--white);
  margin: 0px;
  padding: 0px;
}

.projects__list {
  display: block;
}

.projects__proj {
  margin: 3px;
  color: var(--white);
  /* background-image: linear-gradient(
    var(--light-beige-semi-opaque),
    var(--white-semi-opaque)
  ); */
  background-color: var(--taupe-semi-opaque);
  border-radius: 5px;

  display: grid;
  grid-template-rows: 3rem 7rem;
  grid-template-columns: 2.25fr 1fr;
}

.projects__proj:nth-child(even) {
  grid-template-columns: 1fr 2.5fr;
}

.projects__proj h1 {
  font-size: 12px;
  padding: 0px 1rem;
  display: flex;
  align-items: flex-end;

  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.projects__proj:nth-child(even) h1 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.projects__proj > p {
  font-size: 10px;
  padding: 0px 1rem;
  margin: 0px;

  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.projects__proj:nth-child(even) p {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.projects__proj__tech {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

.projects__proj:nth-child(even) .projects__proj__tech {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

@media (min-width: 480px) {
}

@media (min-width: 1000px) {
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
